
.jumbotron{
    margin-top: 55px;
    background-color: #500ac8;
    color: white;
    text-align: center;
}

h2, h3{
    text-align: center;
}
.btn-reserva{
    width: 100%;
}


.card-hotel{
    flex: 1 150px;
    padding: 30px 50px 30px 50px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
}

.mvr{
  
    margin: 20px 20px 20px 20px;
    padding: 30px 50px 30px 50px;
    
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #500ac8;
    margin-bottom: 8px;
    margin-top: 10px;
    color: white;
}

footer div a{
    color: white;
}

footer div a:focus{
    color:rgb(229, 255, 0);
}
footer div a:hover{
    color:rgb(0, 255, 34);
}

.navegacion{
    background-color: #21016b;
    color: white;
}

.headtable{
    background-color: #21016b;
    color: white;
}