.jumbotron {
  margin-top: 55px;
  margin-bottom: 30px;
  background-color: #0a1ac8;
  color: #ffffff;
  text-align: center;
}

h2, h3 {
  text-align: center;
}

.btn-reserva {
  width: 100%;
}

.card-hotel {
  flex: 1 150px;
  padding: 30px 50px 30px 50px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 30px;
  margin-left: 30px;
}

.mvr {
  margin: 20px 20px 20px 20px;
  padding: 30px 50px 30px 50px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #0a1ac8;
  margin-top: 10px;
  margin-bottom: 8px;
  color: #ffffff;
}

footer div a {
  color: #ffffff;
}

footer div a:focus {
  color: #e5ff00;
}

footer div a:hover {
  color: #00ff22;
}

.navegacion {
  background-color: #0a016b;
  color: #ffffff;
}

.headtable {
  background-color: #0a016b;
  color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
