$morado: #0a1ac8;
$moradonav: #0a016b;
$colorletra: #ffffff;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    @include margenes(55px, 30px);
    background-color: $morado;
    color: $colorletra;
    text-align: center;
}

h2, h3{
    text-align: center;
}
.btn-reserva{
    width: 100%;
}


.card-hotel{
    flex: 1 150px;
    padding: 30px 50px 30px 50px;
    @include margenes(10px, 0px);
    margin-right: 30px;
    margin-left: 30px;
}

.mvr{
  
    margin: 20px 20px 20px 20px;
    padding: 30px 50px 30px 50px;
    
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $morado;
    @include margenes(10px, 8px);
    color: $colorletra;
}

footer div a{
    color: $colorletra;
}

footer div a:focus{
    color:rgb(229, 255, 0);
}
footer div a:hover{
    color:rgb(0, 255, 34);
}

.navegacion{
    background-color: $moradonav;
    color: $colorletra;
}

.headtable{
    background-color: $moradonav;
    color: $colorletra;
}
